@import 'main.less';
.container {
  position: relative;
  margin: 80px auto;
  height: 80%;
  width: 80%;
  background: white;
}
//TODO: bad naming: head instead of heed, no need to add _style, use - to connect 2 words instead of _
.heed_style {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -75px;
  margin-bottom: -50px;
}
.image_style {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.image_style,
.h1_position,
.h2_position {
  margin-bottom: 10px;
}
.line_style {
  color: @gray;
  border-width: 2px;
  border-style: solid;
  margin: 5px 10%;
}
main {
  padding-bottom: 20px;
}
.article_style {
  margin: 0 15%;
}
.title_style {
  color: #ec7263;
  margin: 10px 0;
}
.section_style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}
.label_style {
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}
.words_style2 {
  display: inline-block;
  width: 800px;
  background: @gray;
  padding: 10px 10px 10px;
}
.span_style {
  display: block;
  font-weight: bold;
}
